body {
    font-family: 'libre franklin';
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 65px;
    background: linear-gradient(0deg, rgba(215,97,17,1) 0%, rgba(127,69,252,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(215,97,17,1) 0%, rgba(127,69,252,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(215,97,17,1) 0%, rgba(127,69,252,1) 100%);
}
/* head*/
header p{
    color: white;
}
#logo_header {
    width: 220px;
    height: 65px;
}
#search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
}
#search i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    background-color: white;
    height: 34px;
    width: 40px;
}
#search input {
    font-size: 20px;
    width: 150px;
    height: 30px;
    margin-left: 5px;
}
/*navBar*/
nav {
    display:flex;
    width: auto;
    justify-content: space-between;
    height: 30px;
    background-color: black;
    color: white;
}
#nav_bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-left: 15px;
}
#nav_bar p:hover{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(170, 43, 230);
    height: 30px;
}
#panier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 70px;
    padding-right: 20px;
}

main h1{
    font-size: 24px;
}
main h2{
    font-size: 18px;
}
/*index*/
#produit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
}
#produit div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgb(156, 153, 153) 1px 2px 3px 4px;
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 10px;
}
#produit p{
    font-family: 'libre franklin';
    font-weight: bold;
}
img {
    width: 300px;
    height:200px;
}
button  {
    width: 130px;
    height: 30px;
    font-family: 'libre franklin';
    background: linear-gradient(90deg, rgba(215,97,17,1) 0%, rgb(254, 254, 255) 100%);
    border: none;
    border-radius: 10px;
}
/*page produit*/
#produit_unit{
    display: flex;
    border-radius: 20px;
    box-shadow: rgb(156, 153, 153) 1px 2px 3px 4px;
    height: auto;
    width: 40%;
    padding: 10px;
    margin: auto;
}
#produit_unit div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*footer*/
footer{
    width: auto;
    height: 70px;
    background-color: black;
    color: white;
    font-family: 'libre franklin';
    padding: 10px;
}
